{
  "feeds": [
    {"name": "The Hacker News", "url": "https://feeds.feedburner.com/TheHackersNews", "enabled": true},
    {"name": "BleepingComputer", "url": "https://www.bleepingcomputer.com/feed/", "enabled": true},
    {"name": "Krebs on Security", "url": "https://krebsonsecurity.com/feed/", "enabled": true},
    {"name": "SecurityWeek", "url": "https://feeds.feedburner.com/securityweek", "enabled": true},
    {"name": "Dark Reading", "url": "https://www.darkreading.com/rss.xml", "enabled": true},
    {"name": "CISA Alerts", "url": "https://www.cisa.gov/cybersecurity-advisories/all.xml", "enabled": true},
    {"name": "Sophos News", "url": "https://news.sophos.com/en-us/feed/", "enabled": true},
    {"name": "Infosecurity Magazine", "url": "https://www.infosecurity-magazine.com/rss/news/", "enabled": true},
    {"name": "HackRead", "url": "https://hackread.com/feed/", "enabled": true},
    {"name": "SC Media", "url": "https://www.scworld.com/rss", "enabled": true},
    {"name": "The Record", "url": "https://therecord.media/feed", "enabled": true},
    {"name": "Schneier on Security", "url": "https://www.schneier.com/feed/atom/", "enabled": true},
    {"name": "Graham Cluley", "url": "https://grahamcluley.com/feed/", "enabled": true},
    {"name": "AWS Security Blog", "url": "https://aws.amazon.com/blogs/security/feed/", "enabled": true},
    {"name": "Cisco Security Blog", "url": "https://blogs.cisco.com/security/feed", "enabled": true},
    {"name": "IT Security Guru", "url": "https://www.itsecurityguru.org/feed/", "enabled": true},
    {"name": "Avast Blog", "url": "https://blog.avast.com/rss.xml", "enabled": true},
    {"name": "Data Privacy & Security Insider", "url": "https://www.dataprivacyandsecurityinsider.com/feed/", "enabled": true},
    {"name": "Google Online Security Blog", "url": "https://feeds.feedburner.com/GoogleOnlineSecurityBlog", "enabled": true},
    {"name": "Geekflare", "url": "https://geekflare.com/feed/", "enabled": true},
    {"name": "Trend Micro Research", "url": "http://feeds.trendmicro.com/TrendMicroResearch", "enabled": true},
    {"name": "Qualys Blog", "url": "https://blog.qualys.com/feed", "enabled": true},
    {"name": "CSO Online", "url": "https://www.csoonline.com/feed/", "enabled": true},
    {"name": "GBHackers", "url": "https://gbhackers.com/feed/", "enabled": true},
    {"name": "SentinelOne Blog", "url": "https://www.sentinelone.com/feed/", "enabled": true},
    {"name": "Troy Hunt", "url": "https://www.troyhunt.com/rss/", "enabled": true},
    {"name": "eSecurity Planet", "url": "https://www.esecurityplanet.com/feed/", "enabled": true},
    {"name": "Securelist (Kaspersky)", "url": "https://securelist.com/feed/", "enabled": true},
    {"name": "Cloud Security Alliance", "url": "https://cloudsecurityalliance.org/feed", "enabled": true},
    {"name": "Infoblox Blog", "url": "https://blogs.infoblox.com/feed/", "enabled": true},
    {"name": "BankInfoSecurity", "url": "https://www.bankinfosecurity.com/rss-feeds", "enabled": true},
    {"name": "Pivot Point Security", "url": "https://www.pivotpointsecurity.com/feed/", "enabled": true},
    {"name": "Black Hills InfoSec", "url": "https://www.blackhillsinfosec.com/blog/feed/", "enabled": true},
    {"name": "GovInfoSecurity", "url": "https://www.govinfosecurity.com/rss-feeds", "enabled": true},
    {"name": "G DATA Security Blog", "url": "https://feeds.feedblitz.com/GDataSecurityBlog-EN&x=1", "enabled": true},
    {"name": "Vista InfoSec", "url": "https://vistainfosec.com/feed/", "enabled": true},
    {"name": "WinMagic Blog", "url": "https://winmagic.com/en/feed/", "enabled": true},
    {"name": "Elie Bursztein", "url": "https://elie.net/rss.xml", "enabled": true},
    {"name": "TCDI Blog", "url": "https://www.tcdi.com/feed/", "enabled": true},
    {"name": "HealthcareInfoSecurity", "url": "https://www.healthcareinfosecurity.com/rss-feeds", "enabled": true},
    {"name": "Bentham's Gaze", "url": "https://www.benthamsgaze.org/feed/", "enabled": true},
    {"name": "Flying Penguin", "url": "https://www.flyingpenguin.com/?feed=rss2", "enabled": true},
    {"name": "Cadre Blog", "url": "https://blog.cadre.net/rss.xml", "enabled": true},
    {"name": "Bad Cyber", "url": "https://badcyber.com/feed/", "enabled": true},
    {"name": "Privacy & Data Security Insight", "url": "https://www.privacyanddatasecurityinsight.com/feed/", "enabled": true},
    {"name": "Amazing Support Blog", "url": "https://www.amazingsupport.co.uk/feed/", "enabled": true},
    {"name": "Alston Privacy", "url": "https://www.alstonprivacy.com/feed/", "enabled": true},
    {"name": "Defensive Security", "url": "https://defensivesecurity.org/feed/", "enabled": true},
    {"name": "Palo Alto Networks Blog", "url": "https://www.paloaltonetworks.com/blog/feed/", "enabled": true},
    {"name": "Ivanti Security Blog", "url": "https://www.ivanti.com/blog/topics/security/rss", "enabled": true},
    {"name": "TaoSecurity Blog", "url": "https://taosecurity.blogspot.com/feeds/posts/default?alt=rss", "enabled": true},
    {"name": "Architect Security", "url": "https://architectsecurity.org/feed/", "enabled": true},
    {"name": "Bishop Fox Blog", "url": "https://bishopfox.com/feeds/blog.rss", "enabled": true},
    {"name": "Threatpost", "url": "https://threatpost.com/feed/", "enabled": true},
    {"name": "Cloudbric Blog", "url": "https://www.cloudbric.com/feed/", "enabled": true},
    {"name": "Rethink Security", "url": "https://rethinksecurity.io/posts/index.xml", "enabled": true},
    {"name": "Medium - Harry Patton", "url": "https://medium.com/feed/@hpatton", "enabled": true},
    {"name": "Medium - Nairuz Abulhul", "url": "https://medium.com/feed/@nairuzabulhul", "enabled": true},
    {"name": "Medium - Infosec Sherpa", "url": "https://medium.com/feed/@infosecsherpa", "enabled": true},
    {"name": "Medium - Martin Connarty", "url": "https://medium.com/feed/@martinconnarty", "enabled": true},
    {"name": "Catalytic Security", "url": "https://catalyicsecurity.com/feed/", "enabled": true}
  ]
}
